 {% include "shared/header.njk" %}
 <nav class="navbar bg-body-tertiary">
  <div class="container">
    <span class="navbar-brand mb-0 h1">Your Site Title Here</span>
  </div>
</nav>
<div class="container my-4">
<h1>
{% if title | lower != "home" %}
{{ title }}
{% endif %}
</h1>
</div>
 {{ content | safe }}
 {% include "shared/footer.njk" %}